
\.vscode/

__pycache__/

data\.db

crawlstate\.txt

chromedriver\.exe

data\.db-journal

crawlstate\.backup\.txt

icons/

data\.backup\.db

answers\.txt

graph_acc\.png

graph_loss\.png

*.hdf5

cm_normalized\.png

cm\.png

testset_labels\.txt

play\.py

t\.py

*.zip

t2\.py

models/

*.obj

models_overall/

models_descs/

*.png

*.txt

basic_features/

t3.py

basic_features_t/
visualize_cnn
debug.log
best_overall_di_k3bj
best_overall_di_k0bj
best_overall_di_k1bj
best_overall_di_k2bj
*.jpg
journal
